{% extends 'base.html' %} {% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'libs/DataTables/datatables.css' %}">
{% endblock %}
{% block content %}
    <div class="container container-fluid">
        <div class="row">
            <div class="col">
                <a class="btn" href="{{ create_url }}">Agregar nuevo empleado</a>
                <table id="data" class="table table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de nacimiento</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script src="{% static 'js/employees/list.js' %}"></script>
{% endblock %}